<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee Font</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap" rel="stylesheet">

<h1 class="coffee-title espresso">
    BLACK COFFEE
</h1>

<h1 class="coffee-title cappuccino">
    CAPPUCCINO
</h1>

<h1 class="coffee-title flatwhite">
    FLAT WHITE
</h1>

<p class="coffee-text latte-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
</p>
<nav class="coffee-navbar">

    <div class="coffee-logo">
        BREW
    </div>

    <div class="coffee-menu">
        <a href="#">Home</a>
        <a href="#">Menu</a>
        <a href="#">Coffee</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>

</nav>


<section class="hero">

    <div class="liquid-bg"></div>

    <h1 class="coffee-title liquid-coffee">
        COFFEE EXPERIENCE
    </h1>

    <p class="coffee-text latte-text">
        Fresh roasted • speciality beans • premium coffee aesthetic
    </p>

</section>
</body>
</html>