{% extends "base.html" %}
{% load static %}

{% block title %}Strona główna{% endblock %}

{% block content %}

<section class="hero">

     <div class="hero-content-wrapper">

        <div class="gallery">
            <img src="{% static 'members/images/siłownia_strona1.png' %}"
                 alt="Siłownia">
        </div>

        <div class="team-section">
            <img src="{% static 'members/images/ekipa_siłowni.png' %}"
               alt="ekipa_siłowni.png">

        <div class="team-text">
            {{ kawosze_text|linebreaks }}
        </div>

     </div>

</section>

{% endblock %}


