{% extends "base.html" %}

{% block title %}Cennik{% endblock %}

{% block content %}
<section class="hero">
    <div class="pricing-wrapper">
        
        <div class="pricing-container">


            <div class="price-card">
                <h3>Pakiet latte</h3>
                <p class="price">90 zł / miesiąc</p>

                <ul>
                    <li>karnet na 6 miesięcy</li>
                    <li>Dostęp do siłowni w każdych godzinach</li>
                    <li>Przedtreningowa kawa</li>
                    <li>Woda na trening gratis</li>
                    <li>Zajęcia grupowe w cenie</li>
                </ul>
                <button>Wybierz plan</button>

            </div>

            <div class="price-card">
                <h3>Pakiet americano</h3>
                <p class="price">120 zł / miesiąc</p>

                <ul>
                    <li>karnet na 12 miesięcy</li>
                    <li>Dostęp do siłowni w każdych godzinach</li>
                    <li>Przedtreningowa kawa</li>
                    <li>Woda na trening gratis</li>
                    <li>Zajęcia grupowe w cenie</li>
                    <li>Koszulka oraz ręcznik członkowski</li>
                    <li>Pakiety treningowe i dostęp do naszych tutoriali</li>
                </ul>
                <button>Wybierz plan</button>

            </div>

            <div class="price-card">
                <h3>Pakiet espresso</h3>
                <p class="price">150 zł / miesiąc</p>

                <ul>
                    <li>karnet na 12 miesięcy</li>
                    <li>Dostęp do siłowni w każdych godzinach</li>
                    <li>Przedtreningowa kawa</li>
                    <li>Woda na trening gratis</li>
                    <li>Zajęcia grupowe w cenie</li>
                    <li>Koszulka oraz ręcznik członkowski</li>
                    <li>Dopasowany plan pod cele treningowe, modyfikowane z nasza kadrą trenerską</li>
                </ul>
                <button>Wybierz plan</button>

            </div>

        </div>
    </div>
</section>
{% endblock %}
